{% extends 'base.html' %}

{% block content %}
<div class="container mt-5" >


    <form method="post">
        {{ form.csrf_token }}
        <div class="form-group">

            <div class="container-fluid d-flex justify-content-center">
                <div class="row justify-content-center">
                    <div class="card mb-3 bg-purple">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="https://images.pexels.com/photos/6046655/pexels-photo-6046655.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="img-fluid rounded-start my-2 alt="...">
                            </div>
                            <div class="col-md-8 d-flex">
                                <div class="card-body my-auto">
                                    <h5 class="card-title">Sign In!</h5>
                                    {{ form.username.label }}
                                    {{ form.username(class="form-control", placeholder="Username") }}
                        
                                    {{ form.password.label }}
                                    {{ form.password(class="form-control", placeholder="Password") }}
                        
                                    {{ form.submit(class="btn btn primary mt-2") }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </form>
</div>

{% endblock content %}