{% extends 'base.html' %}

{% block content %}

    <h2>Add a book to your personal store.</h2>

    <form method="post" enctype="multipart/form-data">
        {{ form.csrf_token }}
        <div class="form-group">
            <p>Add an image: </p>
            {{ form.image }}

            {{ form.title.label }}
            {{ form.title(class="form-control", placeholder="Title") }}

            {{ form.author.label }}
            {{ form.author(class="form-control", placeholder="Author") }}

            {{ form.desc.label }}
            {{ form.desc(class="form-control", placeholder="Description", maxlength=512) }}

            {{ form.price.label }}
            {{ form.price(class="form-control", placeholder="$") }}

            {{ form.submit(class="btn btn-primary w-100 mt-2") }} 

        </div>

    </form>


{% endblock content %}